.task-item {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.task-list {
    width: 300px;
   
}

.todo-container {
    width: 300px;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background-color: salmon;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}